@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
   /* Adjust the value as needed (0.8 for 80% zoom) */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 50px;
} */

/* Handle scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #605d5d;
}
